<!-- code for header begins here -->
<div id="header" class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="d-flex flex-row align-items-center">
          <div class="p-2 bd-highlight">
            <img src="images/poke_icon.png" style="width:50px">
          </div>

          <div class="p-2 bd-highlight">
            <strong style="padding-left:10px;" class="blk" >Pokedex</strong> </br >
            <span style="padding-left:10px;" class="dk-blue">by Austin Henry and Jordan Sturtz</span>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="d-flex flex-row align-items-center justify-content-end">
          <div class="p-2 bd-highlight">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link blk" href="/"><strong>Index</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link blk" href="/create"><strong>Create</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active blk" href="/read"><strong>Read</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link blk" href="/update"><strong>Update</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link blk" href="/delete"><strong>Delete</strong></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container"> 
    <div class="row align-items-center">
      <div class="col-sm-12 text-center">
        <h1 class="blk"> Delete </h1> 
        <div class="dk-blue"> Delete something from the database</div>
      </div>
    </div>
  </div>
</div>

<!-- code for body goes here -->
<!-- options to sort by -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      Sort by: 
      <select name="category">
       <option value="name">Name</option>
       <option value="name">Attack</option>
       <option value="name">Defense</option>
       <option value="name">Health</option>
       <option value="type">Type</option>
       <option value="move">Move</option>
       <option value="location">Location</option>
      </select> 
    </div>
  </div>
</div>

<!-- controls which add form to use-->
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <button type="button" class="btn btn-secondary" id="btn-poke"> Pokemon </button>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-secondary"id="btn-type"> Types </button>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-secondary"id="btn-move"> Moves </button>
    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-secondary"id="btn-location"> Locations </button>
    </div>
  </div>
</div>

<!-- html for each pokemon looks like this -->
<div id="container-poke" class="container poke-list change-form">

  <!-- Charizard example starts here-->
  <div class="row striped">

    <!-- Name, picture, and types go here-->
    <div class="col-sm-3">
      <span class="poke-header"> Charizard </span>
      <img class= "img-fluid" src="images/charizard.png" style="width:250px">
      <span class="type-fire"> Fire </span>
    </div>

    <!-- Statistics and Evolutions here-->
    <div class="col-sm-3">
      <span class="poke-header"> Statistics </span>
      <ul>
        <li> Attack: 10 </li>
        <li> Defense: 20 </li>
        <li> Health: 30 </li>
        <li> Evolves from </li>
        <li> Evolves to </li>
      </ul>
    </div>

    <!-- Moves go here-->
    <div class="col-sm-3">
      <span class="poke-header"> Moves </span>
      <ul>
        <li> Burn -- Innate </li>
        <li> Incinerate -- Lvl 10 </li>
      </ul>

    </div>

    <!-- Locations go here-->
    <div class="col-sm-3">
      <span class="poke-header"> Locations </span>
      <ul>
        <li> Volcano Land</li>
      </ul>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>
  
  
  <!-- Sqirtle example starts here-->
  <div class="row striped">

    <!-- Name, picture, and types go here-->
    <div class="col-sm-3">
      <span class="poke-header"> Squirtle </span>
      <img class= "img-fluid" src="images/squirtle.png" style="width:250px">
      <span class="type-water"> Water </span>

    </div>

    <!-- Statistics and Evolutions here-->
    <div class="col-sm-3">
      <span class="poke-header"> Statistics </span>
      <ul>
        <li> Attack: 15 </li>
        <li> Defense: 20 </li>
        <li> Health: 20 </li>
        <li> Evolves from </li>
        <li> Evolves to </li>
      </ul>
    </div>

    <!-- Moves go here-->
    <div class="col-sm-3">
      <span class="poke-header"> Moves </span>
      <ul>
        <li> Squirt -- Innate </li>
        <li> Le Squirt -- Lvl 10 </li>
      </ul>

    </div>

    <!-- Locations go here-->
    <div class="col-sm-3">
      <span class="poke-header"> Locations </span>
      <ul>
        <li> Water Land</li>
      </ul>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>

  <!-- Pikachu example starts here-->
  <div class="row striped">

    <!-- Name, picture, and types go here-->
    <div class="col-sm-3">
      <span class="poke-header"> Ryan Reynolds </span>
      <img class= "img-fluid" src="images/pikachu.png" style="width:250px">
      <span class="type-lighting"> Lighting </span>
    </div>

    <!-- Statistics and Evolutions here-->
    <div class="col-sm-3">
      <span class="poke-header"> Statistics </span>
      <ul>
        <li> Attack: 10000 </li>
        <li> Defense: 20000 </li>
        <li> Health: 30000 </li>
        <li> Evolves from Deadpool</li>
        <li> Evolves to PikaPool </li>
      </ul>
    </div>

    <!-- Moves go here-->
    <div class="col-sm-3">
      <span class="poke-header"> Moves </span>
      <ul>
        <li> Pika! -- Innate </li>
        <li> Pika Pika! -- Lvl 10 </li>
      </ul>

    </div>

    <!-- Locations go here-->
    <div class="col-sm-3">
      <span class="poke-header"> Locations </span>
      <ul>
        <li> Hollywood </li>
      </ul>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>
</div> 

<!-- Type information here -->
<div id="container-type" class="container change-form"style="display:none;">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Weak Against</th>
        <th scope="col">Strong Against</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Grass</td>
        <td>Fire</td>
        <td>Flying</td>
        <td>
          <button class="btn btn-danger"> Delete </button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Fire</td>
        <td>Water</td>
        <td>Grass</td>
        <td>
          <button class="btn btn-danger"> Delete </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Move information here -->
<div id="container-move" class="container change-form" style="display:none;">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Incinerate</td>
        <td>
          <button class="btn btn-danger"> Delete </button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Burn</td>
        <td>
          <button class="btn btn-danger"> Delete </button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Swallow</td>
        <td>
          <button class="btn btn-danger"> Delete </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Location information here -->
<div id="container-location" class="container change-form" style="display:none;">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Grassy Knoll</td>
        <td>The area is grassy bro. So grassy. There's like, grass everywhere
        brah. </td>
        <td>
          <button class="btn btn-danger"> Delete </button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Firey Knoll</td>
        <td>The area is firey bro. So firey. There's like, fire everywhere
        brah. </td>
        <td>
          <button class="btn btn-danger"> Delete </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- code for footer goes here -->
<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="single-post-content-wrapper p-3">
          <span class="wht" > This website represents a joint project between 
                    Austin Henry and Jordan Sturtz to build a 
                    full-stack application. The front-end utilizes
                    bootstrap and handlebars. The server runs on 
                    node.js. The database is mysql. 
                    </span>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-sm-12">
          <div class="d-flex flex-row align-items-center justify-content-center">
            <div class="p-2 bd-highlight">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link wht" href="/"><strong>Index</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link wht" href="create"><strong>Create</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link wht" href="read"><strong>Read</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active wht" href="update"><strong>Update</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link wht" href="delete"><strong>Delete</strong></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/delete.js"></script>
