<!-- code for body goes here -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3> Description </h3>
      <span> This website represents a joint project between Austin Henry
      and Jordan Sturtz to represent a pokedex database interface. It
      has basic CRUD functionality. The subpages are as follows:</span> <br>
      <ul class="list-group">
        <li class="list-group-item"> 
          <a href="/create"><strong>Create</strong></a> <br>
          This link provides the user with the ability to add new entries to 
          the database. There are four entities that can be added: pokemon, 
          types, moves, and locations. Since pokemon must be associated
          with these other three entities, these entities must be added before
          pokemon can be added.
        </li>
        <li class="list-group-item"> 
          <a href="/read"><strong>Read</strong></a> <br>
          This link provides the user with the ability to read the existing
          data in the database. It will display them according to entity
          type: pokemon, type, moves, and location. In addition, it will
          display pokemon together with their types, their moves, and the
          locations in which they can be found. 
        </li>
        <li class="list-group-item"> 
          <a href="/update"><strong>Update</strong></a> <br>
          This link provides the user with the ability to update existing
          entries. As of right now, the update buttons have not been 
          implemented. This is because such code will become superfluous
          when integrated with the backend. 
        </li>
        <li class="list-group-item"> 
          <a href="/delete"><strong>Delete</strong></a> <br>
          This link provides the user with the ability to delete
          entries. As of right now, the delete buttons have not been 
          implemented. This is because such code will become superfluous
          when integrated with the backend. 
        </li>
      </ul>
    </div>
  </div>
</div>

<script src="js/read.js"></script>
