<!-- code for header begins here -->
<div id="header" class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="d-flex flex-row align-items-center">
                    <div class="p-2 bd-highlight">
                        <img src="images/computerIcon.jpg" style="width:50px">
                    </div>

                    <div class="p-2 bd-highlight">
                        <strong style="padding-left:10px;" class="wht" >jordan sturtz </strong> </br >
                        <span style="padding-left:10px;" class="dbt">computer science student</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="d-flex flex-row align-items-center justify-content-end">
                    <div class="p-2 bd-highlight">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link wht" href="/about"><strong>about</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active wht" href="/"><strong>portfolio</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link wht" href="/resume"><strong>resume</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link wht" href="/contact"><strong>contact</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container"> 
        <div class="row align-items-center">
            <div class="col-sm-12 text-center">
                <h1 class="wht"> my projects </h1> 
                <div class="dbt"> some stuff i've been working on</div>
            </div>
        </div>
    </div>
</div>

<!-- body text starts here -->
<div class="container">
    <!-- carousel code starts here -->
    <div class="slideshow-container">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade-slide">
            <div class="numbertext">1 / 4</div>
            <a href="http://github.com/jsturtz">
            <img src="images/webscraping.jpg" style="width:100%">
            </a>
            <div class="text">webscraping app</div>
        </div>
        
        <div class="mySlides fade-slide">
            <div class="numbertext">2 / 4</div>
            <a href="http://github.com/jsturtz">
            <img src="images/rubix.jpg" style="width:100%">
            </a>
            <div class="text">rubix cube solver</div>
        </div>
        
        <div class="mySlides fade-slide">
            <div class="numbertext">3 / 4</div>
            <a href="http://github.com/jsturtz">
            <img src="images/battleship.jpg" style="width:100%">
            </a>
            <div class="text">battleship game</div>
        </div>

        <div class="mySlides fade-slide">
            <div class="numbertext">4 / 4</div>
            <a href="http://github.com/jsturtz">
            <img src="images/blackjack.jpg" style="width:100%">
            </a>
            <div class="text">blackjack game</div>
        </div>
        
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>


</div>
      
<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
</div>

<!-- code for footer goes here -->
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="image-wrapper float-left pr-3">
                    <img id="headshotMini" src="images/squareHeadShot.jpg" alt="">
                </div>
                <div class="single-post-content-wrapper p-3">
                    <span class="wht" > jordan is a second year computer science major studying at oregon state university. 
                                        he has experience coding in python, c/c++, javascript/html/css, jquery, masm, and latex. 
                                        he is also proficient in vim and unix terminals</span>
                </div>
            </div>
            <div class="col-sm-7">
                    <div class="d-flex flex-row align-items-center justify-content-end">
                        <div class="p-2 bd-highlight">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <img src="images/linkedIn.png" class="icon">
                                        <a href="https://www.linkedin.com" class="wht"><strong>linkedin</strong></a>

                                    </div>
                                </li>
                                    <div class="nav-link">
                                        <img src="images/github.png" class="icon">
                                        <a href="https://github.com/jsturtz" class="wht"><strong>github</strong></a>
                                    </div>
                                </li>
                                    <div class="nav-link">
                                        <img src="images/facebook.png" class="icon">
                                        <a href="https://www.facebook.com/" class="wht"><strong>facebook</strong></a>
                                    </div>
                                </li>
                                    <div class="nav-link">
                                        <img src="images/twitter.png" class="icon">
                                        <a href="https://twitter.com/JordanSturtz" class="wht"><strong>twitter</strong></a>
                                    </div>
                            </ul>
                        </div>
                    </div>
            </div>
            <div class="w-100"></div>
            <div class="col-sm-12">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <div class="p-2 bd-highlight">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link wht" href="about"><strong>about</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active wht" href="/"><strong>portfolio</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link wht" href="resume"><strong>resume</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link wht" href="contact"><strong>contact</strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="js/portfolio.js"></script>
