<!-- code for header banner begins here -->
<div class="container-fluid" id="header" style="padding-bottom:0px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="d-flex flex-row align-items-center">
                    <div class="p-2 bd-highlight">
                        <img src="images/computerIcon.jpg" style="width:50px">
                    </div>
                    <div class="p-2 bd-highlight">
                        <strong style="padding-left:10px;" class="wht" >jordan sturtz </strong> </br >
                        <span style="padding-left:10px;" class="dbt">computer science student</span> </br >
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="d-flex flex-row align-items-center justify-content-end">
                    <div class="p-2 bd-highlight">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link wht" href="about"><strong>about</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link wht" href="/"><strong>portfolio</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active wht" href="resume"><strong>resume</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link wht" href="contact"><strong>contact</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 db-background resume-vertical-border" style="padding:20px;">
                <img src="images/squareHeadShot.jpg" class="img-fluid" id="resume-headshot">
            </div>

            <div class="col-sm-8" id="resume-header-flex-box" style="background-color:#25B7D3">
                <h1 class="wht"> jordan sturtz</h1>
                <p class="dbt"> resume </p>
                <a href="images/resume.png" download>
                    <button type="button" class="btn btn-primary">download here</button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- code for body  -->
<div class="container">
    <div class="row">

        <!-- code for vertical bar down the side -->
        <div class="col-sm-4 db-background resume-vertical-border">
            <div class="container flex-vertical">
                <!-- contact info -->
                <div>
                    <ul>
                        <li>
                            <div class="icon-outer-wrapper">
                                <div class="icon-inner-wrapper">
                                    <img src="images/mapIcon.png" class="icon iconOffset">
                                </div>
                            </div>
                            <span class="wht"> <strong>address</strong> </span>
                            <span class="wht" > 1315 Muscat Ct Brentwood CA, 94513 </span>
                        </li>

                        <li>
                            <div class="icon-outer-wrapper">
                                <div class="icon-inner-wrapper">
                                    <img src="images/phoneIcon.png" class="icon ">
                                </div>
                            </div>
                        <span class="wht"> <strong>phone</strong> </span>
                        <span class="wht"> (704)776-2718</span>
                        </li>

                        <li>
                            <div class="icon-outer-wrapper">
                                <div class="icon-inner-wrapper">
                                    <img src="images/mailIcon.png" class="icon ">
                                </div>
                            </div>
                            <span class="wht"> <strong>email</strong> </span>
                            <span class="wht"> jordansturtz91@gmail</span>
                        </li>
                    </ul>
                </div>
           
                <!-- skills  -->
                <div>
                    <h5 class="wht"> <strong>skills </strong></h5>
                    <ul>
                        <li> some skill </li>
                        <li> some other skill </li> 
                        <li> some third skill </li>
                    </ul>
                </div>

                <!-- languages  -->
                <div>
                    <h5 class="wht"> <strong>languages </strong></h5>
                    <ul>
                        <li> python </li>
                        <li> c/c++ </li> 
                        <li> masm </li>
                        <li> javascript/html/css </li>
                        <li> latex </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- code for the body -->
        <div class="col-sm-8" style="padding-top:20px;">
            <div class="container"style="padding-left:0px; padding-top:10px;">
                <div class="row">
                    <div class= "col-sm-12 horizontal-banner">
                        <h1> about me </h1>
                    </div>
                </div>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>

            <div class="container"style="padding-left:0px;padding-top:10px;">
                <div class="row">
                    <div class= "col-sm-12 horizontal-banner">
                        <h1> education </h1>
                    </div>
                </div>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>

            <div class="container"style="padding-left:0px;padding-top:10px;">
                <div class="row">
                    <div class= "col-sm-12 horizontal-banner">
                        <h1> work experience </h1>
                    </div>
                </div>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>

            <div class="container"style="padding-left:0px;padding-top:10px;">
                <div class="row">
                    <div class= "col-sm-12 horizontal-banner">
                        <h1> projects </h1>
                    </div>
                </div>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>

            <div class="container"style="padding-left:0px;padding-top:10px;">
                <div class="row">
                    <div class= "col-sm-12 horizontal-banner">
                        <h1> accomplishments </h1>
                    </div>
                </div>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>
        </div>
    </div>
</div>


<!-- code for footer goes here -->
<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="image-wrapper float-left pr-3">
                    <img id="headshotMini" src="images/squareHeadShot.jpg" alt="">
                </div>
                <div class="single-post-content-wrapper p-3">
                    <span class="wht" > jordan is a second year computer science major studying at oregon state university. 
                                        he has experience coding in python, c/c++, javascript/html/css, jquery, masm, and latex. 
                                        he is also proficient in vim and unix terminals</span>
                </div>
            </div>
            <div class="col-sm-7">
                    <div class="d-flex flex-row align-items-center justify-content-end">
                        <div class="p-2 bd-highlight">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <img src="images/linkedIn.png" class="icon">
                                        <a href="https://www.linkedin.com" class="wht"><strong>linkedin</strong></a>

                                    </div>
                                </li>
                                    <div class="nav-link">
                                        <img src="images/github.png" class="icon">
                                        <a href="https://github.com/jsturtz" class="wht"><strong>github</strong></a>
                                    </div>
                                </li>
                                    <div class="nav-link">
                                        <img src="images/facebook.png" class="icon">
                                        <a href="https://www.facebook.com/" class="wht"><strong>facebook</strong></a>
                                    </div>
                                </li>
                                    <div class="nav-link">
                                        <img src="images/twitter.png" class="icon">
                                        <a href="https://twitter.com/JordanSturtz" class="wht"><strong>twitter</strong></a>
                                    </div>
                            </ul>
                        </div>
                    </div>
            </div>
            <div class="w-100"></div>
            <div class="col-sm-12">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <div class="p-2 bd-highlight">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link wht" href="/about"><strong>about</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link wht" href="/"><strong>portfolio</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active wht" href="/resume"><strong>resume</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link wht" href="/contact"><strong>contact</strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
